﻿body {
    padding-top: 50px;
    color: #c8c8c8;
    
}



.defaultText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:12pt;
    

}

.padRight8px {
    padding-right:8px;

}

.tdColorOverride td {
    background-color: #272b30;
    color: #c8c8c8;

}


.div.testclass {
    background-color: #272b30;
}