﻿@{
    ViewBag.Title = "How To Contact SirFry";
}

<div class="jumbotron">

    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
    <br />

    <address>
        Southside of Indianapolis<br />
        Indianapolis, IN 46217<br />
        <abbr title="Phone">Phone:</abbr>
        (317) 998-3453
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">CraycraftDan@Gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">CraycraftDan@Gmail.com</a>
    </address>

    <p> <img src="http://i.imgur.com/B73SC5K.png" style="width:280px;height:270px; position:center" /> </p>
</div>