﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Manager</h1>
    <p class="lead">This was developed using ASP.NET MVC</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p> <img src="http://i.imgur.com/B73SC5K.png" style="width:280px;height:270px; position:center" /> </p>
</div>

